*{
    margin: 0px;
}
body {
        background-color: #ffffff;
        font-family: Arial, sans-serif;
}

header{
    background-color: #04f590;
    color: #ffffff;
    text-align: center;
    padding: 20px; /* coloca um espaçamento interno */
}


img{
    max-width: 100%;
}

main{
    text-align: center;
}